body {
    margin: 30px;
}

.container {
    margin-right: auto;
    margin-left: 500;
    padding-left: 20px;
    padding-right: 15px;
}

.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}

.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.pager {
    margin-bottom: 100px;
}

.pager li {
    display: inline;
}

.pager a {
    color: #333333;
}

.pager .next>a, .pager .next>span {
    float: right;
}

.pager .previous>a, .pager .previous>span {
    float: left;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}



.quote small.author {
    font-weight: bold;
    color: #3677E8;
}

.disabled {
    color: #333333;
    cursor: not-allowed;
}



