{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}
<div class="col-md-4 negative-margin-end">
    <p>
        <a href="{% if quotes %}#{% else %}{% url 'quotes:load_sql' %}{% endif %}"
           class="{% if quotes %}disabled{% else %}btn btn-success{% endif %}">Load from
            SQLdb</a>
        {% if user.is_authenticated %}
        <a href="{% url 'quotes:add_author' %}" class="btn btn-success">Add Author</a>
        <a href="{% url 'quotes:add_quote' %}" class="btn btn-success">Add Quote</a>

        {% endif %}
    </p>
</div>
<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.quote }}</span>
            <span>
    by <small class="author" itemprop="author">
            {{ quote.author|author }}
            <a href="/author/{{ quote.author }}">(about)</a>
    </small>
</span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags %}
                <a class="tag" href="/tag/deep-thoughts/page/1/">{{tag}}</a>
                {% endfor %}
            </div>
        </div>

        {% endfor %}
        <nav>
            <ul class="pager">

                <li class="previous">
                    <a class="{% if not quotes.has_previous %}disabled{% endif %}"
                       href="{% if quotes.has_previous %}{% url 'quotes:root_paginate' quotes.previous_page_number %}{% else %}#{% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>

                <li class="next">
                    <a class="{% if not quotes.has_next %}disabled{% endif %}"
                       href="{% if quotes.has_next %}{% url 'quotes:root_paginate' quotes.next_page_number %}{% else %}#{% endif %}">
                        Next <span aria-hidden="true">→</span>
                    </a>
                </li>


            </ul>
        </nav>
    </div>
</div>

{% endblock %}
